
<span class="pretty-button">Click me!</span>

<style>

  /* Write your CSS here to make the div look like a button. */

  body {
    padding: 50px;
  }

  .pretty-button {
    padding: 15px 10px;
    background-color: blue;
    border: 2px solid;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  .pretty-button:hover {
    background-color: darkblue;
  }
</style>
